@{
    var genres = ViewData["Genres"] as List<Genre> ?? new List<Genre>();
}﻿
<header>
    <div class="row justify-content-between bg-black">
        <div class="col-3 mx-2">
            <div class="d-flex">
                <div class="mx-2">
                    <a class="nav-link text-light" asp-area="" asp-controller="Movie" asp-action="Index">MovieShop</a>
                </div>
                <div class="mx-2">
                    @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Movie" &&
                    ViewContext.RouteData.Values["action"]?.ToString() == "Index")
                    {
                        <div class="dropdown">
                            <button class="dropdown-toggle text-light bg-black border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Genres
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="Index">All Genres</a></li>
                                @foreach (var genre in genres) 
                                {
                                    <li><a class="dropdown-item" asp-controller="Movie" asp-action="Index" asp-route-genreId="@genre.Id">@genre.Name</a></li>
                                }                      
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex">
                <div class="dropdown">
                    <button class="dropdown-toggle text-light bg-black border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Admin" asp-action="CreateMovie">CreateMovie</a></li>
                        <li><a class="dropdown-item" asp-controller="Admin" asp-action="TopMovies">TopMovie</a></li>
                    </ul>
                </div>
                <div class="mx-2">
                    <div class="dropdown">
                        <button class="dropdown-toggle text-light bg-black border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Lawson Klocko
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Movies">Movies</a></li>
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Favorites">Favorites</a></li>
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Account">Account</a></li>
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>