﻿<header>
    <div class="row justify-content-between bg-black">
        <div class="col-3">
            <div class="d-inline-flex">
                <div class="mx-2">
                    <a class="nav-link text-light" asp-area="" asp-controller="Movie" asp-action="Index">MovieShop</a>
                </div>
                <div class="mx-2">
                    <a class="nav-link text-light" href="#">Genres</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-inline-flex">
                <div class="dropdown">
                    <button class="dropdown-toggle text-light bg-black" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Movie" asp-action="Create">CreateMovie</a></li>
                        <li><a class="dropdown-item" href="#">TopMovie</a></li>
                    </ul>
                </div>
                <div class="mx-2">
                    <a class="nav-link text-light" href="#">UserName</a>
                </div>
            </div>
        </div>
    </div>
</header>