@model MovieCardViewModel
<div class="card">
    <a asp-controller="Movie" asp-action="Detail" asp-route-movieId="@Model.Id">
        <img src="@Model.ImageUrl" class="card-img-top" alt="Movie Image">
    </a>
</div>