@model MovieListViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        @foreach (var movieCard in Model.MovieCards)
        {
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 justify-content-between my-3">
                <partial name="_MovieCard" model="@movieCard" />
            </div>
        }
    </div>
</div>

<partial name="_Pagination" model="@Model.Pagination" />
